body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#b1cfd0;
 
}

.login-container {
  background-color: #6b2457;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  color: rgb(236, 235, 235);
  padding: 10%;
  
 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  
}

button {
  background-color: #25718d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #9d7f9d;
}

#error-message {
  color: red;
  margin-top: 10px;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Altura do container */

  
  
  
}



